table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

.navbar {
	background-color: grey;
	color: white;
	display: flex;
	height: 50px;
	padding: 5px;
	width: 100%;
}

.navbarBean {
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
	padding: 5px;
	text-align: center;
	width: 150px;
	justify-content: center;
	align-items: center;
	
}

.navbarLink {
	text-decoration: none;
	color: white;
}

.deleteGame {
	display: block;
	margin: auto;
	margin-top: 5%;
	border: 1px solid #dddddd;
	width: 50%;
	padding: 15px;
	background-color: #dddddd;
}

.login {
	display: block;
	margin: auto;
	margin-top: 5%;
	border: 1px solid #dddddd;
	width: 50%;
	padding: 15px;
	background-color: #dddddd;
}

.addGame {
	display: block;
	margin: auto;
	border: 1px solid #dddddd;
	width: 50%;
	padding: 15px;
	margin-top: 5%;
	background-color: #dddddd;
}

.Form {
	display: grid;
	margin: 1%;
	padding: 5px;
	position: relative;
}


.signForm {
	margin: auto;
	background-color: transparent;
}

.wrapper {
	display: flex;
	position: relative;
	width: 100%;
}

.content {
	padding: 5px;
}

body {
	margin: 0;
	background-color: white;
}